@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

// color
$orange : #F2715E;
$red : #EB415C;
$blue : #000f92;
$dark : #00001e;
$soft : #ffffffd0;
$gradient : linear-gradient(90deg, #EB415C 0%, #F2715E 100%);
// variable
$radius : 35px 35px 0px 35px;

*,*::after,*::before{font-family: 'Poppins', sans-serif;}
body{color: white !important;background: $dark;}

// Breakpoint
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

// Utils

/* Extra small devices (phone) */
@media (max-width: $xs) {
  /* CSS rules for extra small devices here */
}

/* Small devices (tablet) */
@media (min-width: $xs) and (max-width: $sm) {
  /* CSS rules for small devices here */
}

/* Medium devices (laptop) */
@media (min-width: $sm) and (max-width: $md) {
  /* CSS rules for medium devices here */
}

/* Large devices (desktop) */
@media (min-width: $md) and (max-width: $lg) {
  /* CSS rules for large devices here */
}

/* Extra large devices (large desktop) */
@media (min-width: $lg) {
  /* CSS rules for extra large devices here */
}

main{
    overflow-x: hidden !important;
}

.lc {
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    &-1{
        -webkit-line-clamp: 1;
    }
    &-2{
        -webkit-line-clamp: 2;
    }
    &-3{
        -webkit-line-clamp: 3;
    }
    &-4{
        -webkit-line-clamp: 4;
    }
}

h1,h2,h3,h4,h5,h6,.font-dm{
    font-family: 'Poppins', sans-serif;
    line-height: 125%;
    letter-spacing: 0.02em;
}
h1{
    font-size: 85px;
    /* Extra small devices (phone) */
    @media (max-width: $xs) {
        font-size: 40px;
    }
    
    /* Small devices (tablet) */
    @media (min-width: $xs) and (max-width: $sm) {
        font-size: 40px;
    }
    
    /* Medium devices (laptop) */
    @media (min-width: $sm) and (max-width: $md) {
        font-size: 60px;
    }
    
    /* Large devices (desktop) */
    @media (min-width: $md) and (max-width: $lg) {
        font-size: 70px;
    }
}

h2{
    font-size: 52px;

    /* Medium devices (laptop) */
    @media (min-width: $sm) and (max-width: $md) {
        font-size: 32px;
    }
    
    /* Large devices (desktop) */
    @media (min-width: $md) and (max-width: $lg) {
        font-size: 42px;
    }
}

.gradient{
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-gradient{
    color: $gradient;
}
.bg-prm{
    background: $blue;
}
.km{
    font-weight: bold;
    letter-spacing: 0.2em;
}
//div hr
.divider{
    display: block;
    border: none;
    width: 2em;
    height: 10px;
    background: $gradient;
    opacity: 1;
}

// icon
.iconify{
    color: currentColor;
    width: 40px;
    height: 40px;
}

.text-orange{
    color: $orange;
}

.text-soft{
    color: $soft;
}

p,li{
    color: $soft;
}

//Main
main{
}

// Menu
header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @media(max-width: $sm) {
        padding: 0.4em 0.8em;
    }
}
.menu-box{
    padding: 0.8em 0px;
    .brand{
        height: 5em;
        object-fit: contain;
        @media(max-width: $md) {
            height: 3.5em;
        }
    }
    .menu{
        display: flex;
        align-items: center;
        gap: 1.3em;
        >a:not(.btn){
            color: white;
            text-decoration: none;
            padding: 0.7em 0em;
            margin: 0px 1em;
            position: relative;
            &.active::before{
                content:'';
                position: absolute;
                bottom: 0;
                left: 0;
                background: $gradient;
                height: 7px;
                width: 60%;
                margin-bottom: -0.4em;
            }
        }

        @media(max-width: $sm) {
            position: fixed;
            top: 0;
            right: 0;
            flex-direction: column;
            justify-content: flex-start;
            padding: 1em;
            width: 20em;
            height: 100vh;
            text-align: left;
            background: $dark;
            z-index: 10;
            transform: translateX(100%);
            transition: all ease 300ms;
            &.active{
                transform: translateX(0);
                transition: all ease 300ms;
            }
        }
    }
    .btn-menu{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &.open{
            display: none;
            @media(max-width: $sm) {
                display: inline-flex;
            }
        }
        &.close{
            display: none;
            margin-left: auto;
            background: $gradient;
            width: 2.5em;
            height: 2.5em;
            padding: 0.4em;
            border-radius: 50px;
            @media(max-width: $sm) {
                display: inline-flex;
            }
            
        }
    }
}

// Button
.btn{
    &-prm-np{
        padding: 1em 1.5em;
        background: $gradient;
        color: white;
        outline: none;
        border: none;
        border-radius: $radius;
        font-weight: 500;
    }
    &-outline-np{
        color: white;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em 1.5em;
        border-radius: $radius;        
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: $radius; 
            border: 3.5px solid transparent;
            background: $gradient border-box;
            -webkit-mask:
              linear-gradient(#fff 0 0) padding-box, 
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
        }
        &:hover{
            background: $gradient !important;
            border-radius: $radius; 
            transition: all 500ms;
        }
    }

    &-outline-np-pill{
        color: white;
        outline: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em 1.5em;
        border-radius: 99px;        
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 99px; 
            border: 3.5px solid transparent;
            background: $gradient border-box;
            -webkit-mask:
              linear-gradient(#fff 0 0) padding-box, 
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
        }
        &:hover{
            background: $gradient !important;
            border-radius: 99px; 
            transition: all 500ms;
        }
    }

    &-outline-np-dots{
        color: white;
        outline: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em 1.5em;
        border-radius: 99px;        
        position: relative;

        &:hover::before,&.active::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 99px; 
            border: 3.5px solid transparent;
            background: $gradient border-box;
            -webkit-mask:
              linear-gradient(#fff 0 0) padding-box, 
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
        }
        &.btn{
            border-color: transparent !important;
        }
    }

    &-slide{
        color: white;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.8em;
        
        position: relative;
        &:hover::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 50px; 
            border: 3.5px solid transparent;
            background: $gradient border-box;
            -webkit-mask:
              linear-gradient(#fff 0 0) padding-box, 
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
          }
    }

    &-order{
        outline: none;
        border: none;
        color: #212121 !important;
        font-weight: 500;
        background: white !important;
        padding: 0.8em 1.2em;
    }

    &-sosmed{
        background: $gradient;
        width: 3em;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        color: white;
        >.iconify{
            font-size: 12px;
        }
    }

    &-submit{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background: $gradient;
        >.iconify{
            width: 1.5em;
            height: 1.5em;
        }
    }
}

//Divider
.div-bar{
    background: $gradient;
    width: 30%;
    height: 10px;
}


//Section ---------------
.hero{
    padding: 1em 0px;
    .container{
        min-height: 70vh;
        display: flex;
        align-items: center;
    }

    &-card{
        position: relative;
        >.num{
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

.service{
    padding: 8em 0px;
    &-card{
        max-width: 21em;
        background-color: $dark;
        .image{
            overflow: hidden;
            width: 100%;
            max-height: 20em;
            position: relative;
            >div{position: absolute;
                color: white;
                top: 1.5em;
                left: 1.5em;
            }
            >img{
                display: block;
                width: 100%;
                height: 40em;
                object-fit: cover;
                opacity: 0 !important;
            }
        }
        .body{
            position: relative;
            padding: 1.5em;
            background: $dark;
            margin-top: -9em;
            z-index: 10;
            min-height: 31em;
            
            .icon{
                display: inline-block;
                padding: 1em;
                border: 2px solid white;
                >img{
                    max-width: 2em;
                }
            }
            .content{
                display: none;
                margin: 1.5em 0px;
                >.btn-order{margin-top: 1.5em;}
            }
        }

        &:hover{
            .image{
                >div{color: #212121;}
                img{opacity: 1 !important;}
            }
            .body{
                background: linear-gradient(360deg, #EC425D 0%, #F3715F 72.19%, rgba(243, 113, 95, 0.63) 84.38%, rgba(243, 113, 95, 0) 100%);
                .km{display: none;}
                .content{display: block;}
            }

            transition: none !important;
        }
    }

    #service-dots{
        .owl-dot{
            border: 0;
            outline: 0;
            height: 10px;
            width: 10px;
            background-color: white;
            border-radius: 20px;
            padding: 0px;
            &.active{width: 40px;}
        }
    }
}
.service-page{
    .service-card{
        width: 100% !important;
        max-width: 100% !important;
    }
}


.project{
    padding: 5em 0px;
    &-card{
        display: block;
        text-decoration: none;
        color: white;
        width: 21em;
        padding: 1.4em;
        border-radius: 50px;
        background: transparent;
        cursor: pointer;

        .image{
            height: 13em;
            width: 100%;
            border-radius: $radius;
            overflow: hidden;
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .more{
                background: #00001e80;
                display: none !important;
            }
        }

        &:hover{
            background: #24309c;
            color: white;
            .image{
                .more{
                    display: flex !important;
                }
            }
        }
    }
}
.project-page{
    .project-card{
        width:100% !important;
    }
}


.articles{
    background: #f7f7f7;
    &-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 0.8em;
        grid-template-areas: 
            "featured art1"
            "featured art2"
            "featured art3"
            "featured art4"
        ;
        @media(max-width: $md) {
            grid-template-columns: 1fr;
            grid-template-areas: 
                "featured"
                "art1"
                "art2"
                "art3"
                "art4"
            ;
        }
        .articles-card{
            text-decoration: none;
            display: block;
            &:nth-child(1){ grid-area: featured; }
            &:nth-child(2){ grid-area: art1; }
            &:nth-child(3){ grid-area: art2; }
            &:nth-child(4){ grid-area: art3; }
            &.featured{
                >img{
                    max-height: 19.4em;
                    object-fit: cover;
                }
                .body{
                    display: flex;
                    flex-direction: column;
                    gap: 2em;
                    color: white;
                }
            }
            
            &:not(.featured){
                min-height: 10em;
                img{
                    max-width: 15em;
                    height: 100%;
                    object-fit: cover;
                    @media(max-width: $md) {
                        width: 7em;
                        height: 7em;
                    }
                    @media(max-width: $lg) {
                        width: 9em;
                        height: 9em;
                    }
                }
                .body{
                    >h5{color: #212121;}
                }
                &:hover{
                    background: $blue;
                    padding: 0px;
                    .body>h5{color: white;}
                }

                @media(max-width: $md) {
                    min-height: 7em;
                }
                @media(max-width: $lg) {
                    min-height: 9em;
                }
            }

            .author{
                background: $gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
                font-size: 12px;
                letter-spacing: 0.3em;
            }
            
        }
    }
}
.articles-page{
    .articles-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        @media(max-width: $md){
            grid-template-columns: 1fr;
        }
        .articles-card{
            display: block;
            text-decoration: none;
            min-height: 10em;
            img{
                max-width: 15em;
                height: 100%;
                object-fit: cover;
                @media(max-width: $md) {
                    width: 7em;
                    height: 7em;
                }
                @media(max-width: $lg) {
                    width: 9em;
                    height: 9em;
                }
            }
            .body{
                >h5{color: #212121;}
            }
            &:hover{
                background: $blue;
                padding: 0px;
                .body>h5{color: white;}
            }

            @media(max-width: $md) {
                min-height: 7em;
            }
            @media(max-width: $lg) {
                min-height: 9em;
            }

            .author{
                background: $gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
                font-size: 12px;
                letter-spacing: 0.3em;
            }
        }
    }
}
.about-page{
    padding-top: 4em;
    padding-bottom: 4em;
    background : linear-gradient(360deg, #00001E 0%, rgba(0, 0, 30, 0) 100%);
}
.client{
    padding: 5em 0px;
    background-color: white;
    >h2{letter-spacing: 0.3em;}
    .client-carousel{
        img{
            max-height: 3em;
            object-fit: contain;
            object-position: center;
        }
    }
}

footer{
    padding: 5em 0px;
    padding-bottom: 0px;
    .foot-menu{
        list-style: none;
        margin-bottom: 3em;
        li{
            margin-bottom: 1em;
            &:has(>h4){
                margin-bottom: 3em;
            }
            >a{
                color: white;
                text-decoration: none;
                &:hover{
                    background: $gradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 500;
                }
            }
        }
    }
}